body {
  background: peachpuff;
}

* :not(.container, .cards, .pagebody){
  border: 1px solid mediumvioletred;
}

.container{
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
  flex-direction: column;
}

.a {
  width: 100%;
  flex-grow: 1;
}

.pagebody{
  display: flex;
  flex-grow: 4;
  flex-direction: column;
  justify-content: space-evenly;
}

.cards {
  display: flex;
  flex-grow: 2;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cards > div{
  width: 32.8%;
}

.h{
 flex-grow: 3;
}

@media (min-width: 600px) {
  .pagebody{
    flex-direction: row;
    
  }

  .cards{
    width: 74%;
  }

  .h {
    flex-grow: 1;
    width: 24%
  }
}