body {
  background: blanchedalmond;
}

* :not(.container){
  border: 1px solid mediumvioletred;
}

.container{
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
  flex-direction: column;
}

.a{
  width: 100%;
  flex-grow: 1
}

.b{
  width: 100%;
  flex-grow: 5;
}
 
.c{
  width: 100%;
  flex-grow: 1;
}

@media (min-width: 600px) {
  .container{
    flex-direction: row;
    flex-wrap: wrap
  }

  .b{
    width: 75%;
  }

  .c{
    width: 24%;
  }
}