body {
  background: papayawhip;
}

* :not(.container, .middle-row, .pagemain, .pagebody){
  border: 1px solid mediumvioletred;
}

.container{
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
}

.a{
  width: 100%;
  flex-grow: 1;
}

.b{
  width: 100%;
  flex-grow: 3;
}

.pagebody{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
  flex-grow: 5;
}

.pagemain{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
  flex-grow: 4;
}

.middle-row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-grow: 1;
}
.c, .d, .e{
  width: 33%;
}

.f{
  width: 100%;
  flex-grow: 1;
}

@media (min-width: 600px) {
  .pagebody{
    flex-direction: row;
    flex-wrap: wrap;
  }

  .a{
    flex-grow: 2;
  }

  .f{
    width: 20%;
  }

  .pagemain{
    width: 79%;
  }
}
